{% extends "base.html" %}
{% block body %}
  <body class="sign-in-up" id="to-top">

    <!-- Sign In/Sign Up section -->
    <section class="sign-in-up-section">

      <div class="container">

        <div class="row">

          <div class="col-md-12">

            <!-- Logo -->
            <figure class="text-center">
              <a href="../">
                <img class="img-logo" src="images/logo.png" alt="">
              </a>
            </figure> <!-- /.text-center -->
            
          </div> <!-- /.col-md-12 -->

        </div> <!-- /.row -->




        <section class="sign-in-up-content">

          <div class="row">

            <div class="col-md-12">

              <h4 class="text-center">Создание нового аккаунта</h4>

              <form class="sign-in-up-form" action="" role="form" method="POST">
                {{ form.csrf_token }}

                {% for f in form if f.type != 'CSRFTokenField' %}
                    <!-- Inputs -->
                    <div class="form-group">
                    {{ f(class="form-control", placeholder=f.label.text) }}
                    </div>
                    <!-- Errors -->
                    {% if f.errors %}
                        <ul>
                            {% for e in f.errors %}
                               <font color="red"><li>{{ e }}</li></font>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endfor %}<br>

                <!-- Button -->
                <button class="btn btn-success btn-block" type="submit">Зарегистрироваться</button>

                <!-- Checkbox -->
                <section class="text-center">
                  <div class="checkbox">
                    <label>
                      <p>Уже есть аккаунт? <a href="../sign-in">Войти</a></p>
                    </label>
                  </div> <!-- /.checkbox -->
                </section> <!-- /.text-center -->
                
              </form> <!-- /.sign-in-up-form -->
              
            </div> <!-- /.col-md-12 -->

          </div> <!-- /.row -->
          
        </section> <!-- /.sign-in-up-content -->




        <div class="row">

          <div class="col-md-12">

            <section class="footer-copyright text-center">

              <p>Веб-дизайнер: Aryandhani</p>
              
            </section> <!-- /.footer-section -->
            
          </div> <!-- /.col-md-12 -->

        </div> <!-- /.row -->
        
      </div> <!-- /.container -->

    </section> <!-- /.sign-in-up-section -->
    
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="javascript/vendor/jquery-2.1.0.min.js"></script>
    <script src="javascript/bootstrap.min.js"></script>
    <script src="javascript/assets/application.js"></script>
  </body>
{% endblock %}
